.nix-portable/
.antigravitycli/
cache/
out
out/
result
result-*

node_modules/
.vitepress/cache/
.vitepress/dist/
**/.vitepress/cache/
**/.vitepress/dist/
content/docs-site/public/og/

*.log
*.qcow2
*.vdi
*.vmdk
*.ova
*.img
*.raw
*.raw.zst
.vercel
