.nix-portable/
.antigravitycli/
cache/
out/
result
result-*

node_modules/
.vitepress/cache/
.vitepress/dist/
**/.vitepress/cache/
**/.vitepress/dist/

*.log
*.qcow2
*.vdi
*.vmdk
*.ova
*.img
*.raw
*.raw.zst
